$white-color: #fff;
$black-color: #000;
$light-blue: rgb(138, 208, 240);
$primary: rgb(0, 168, 228);
$accent: rgb(0, 80, 158);
$error-red: #f44336;
$warn: rgb(190, 50, 40);
$disabled-grey: rgba(0, 0, 0, 0.12);
$input-grey: rgba(0, 0, 0, 0.54);

$koj-color-danger: #ff4444;
$koj-color-danger-dark: #CC0000;
$koj-color-warning: #ffbb33;
$koj-color-warning-dark: #FF8800;
$koj-color-success: #00C851;
$koj-color-success-dark: #007E33;
$koj-color-info: #33b5e5;
$koj-color-info-dark: #0099CC;
