html {
  font-size: $base--html--font-size;
  box-sizing: border-box;
}

body {
  line-height: $base--body--line-height;
  background-color: $base--body--background-color;
  font-family: $base--body--font-family;
  font-size: $base--body--font-size;
  font-weight: $base--body--font-weight;
  color: $base--body--color;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
