:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.koj {
  &-sidenav {
    &-container {
      flex: 1;
      overflow: auto;
    }

    &-buttons {
      min-width: 24.5rem;
    }
  }
}
